@model IEnumerable<FiapSmartCity.Models.ProductType>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tipo de Produto</h1>
<p>
    <!-- uso de TagHelpers para definir o Controller e a Action -->
    <a class="btn btn-sm btn-secondary"
       asp-controller="ProductType" asp-action="Create">Novo Tipo</a>
</p>

<!-- Verifica se a chave "Mensagem" existe no TempData -->
@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        <!-- Imprime para o usuário a mensagem -->
    @TempData["Message"]
    </div>
}

<table class="table table-hover" border="1">
    <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <label>@item.TypeId</label>
            </td>
            <td>
                <label>@item.TypeDescription</label>
            </td>
            <td>
                <!-- asp-route-id é usado para informar o Id do Item selecionado. -->
                <a class="btn btn-sm btn-outline-secondary"
               asp-controller="ProductType"
               asp-action="Update"
               asp-route-id="@item.TypeId">Editar</a>

                <a class="btn btn-sm btn-outline-success"
               asp-controller="ProductType"
               asp-action="Read"
               asp-route-id="@item.TypeId">Consultar</a>

                <a class="btn btn-sm btn-outline-danger"
               asp-controller="ProductType"
               asp-action="Delete"
               asp-route-id="@item.TypeId">Excluir</a>
            </td>
        </tr>
    }
</table>